.visitors-card {
  width: 290px;
  height: 427px;
  background-color: $white-color;
  padding: 25px 30px 30px 30px;
  margin-bottom: 20px;

  &__link {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
  }

  &__title {
    padding-bottom: 20px;
    border-bottom: 1px solid $light-gray-color;
    @include flexCenter(row, space-between, center);
    margin-bottom: 20px;

    .heading3 {
      text-transform: uppercase;
    }
  }

  &__content {
    @include flexCenter(column, space-between, center);
    &-user {
      @include flexCenter(row, space-between, center);
      margin-bottom: 15px;
      &-img {
        width: 52px;
        height: 52px;
        margin-right: 15px;

        img {
          border-radius: 50%;
        }
      }
    }
  }
}
