@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  background-color: #f7f9fb;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input,
button {
  font-family: inherit;
  outline: none;
  border: none;
  box-sizing: inherit;
}

input:focus,
button:focus {
  outline: none;
}

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

.nav__search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-right: 1px solid #f4f4f4;
}

.nav__search-icon {
  margin: 0 20px;
}

.nav__search-input {
  width: 367px;
  height: 80px;
  background-color: transparent;
  color: #323232;
  font-size: 14px;
  font-weight: 300;
  margin-left: 15px;
}

.heading1 {
  font-size: 18px;
}

.heading2 {
  font-size: 14px;
}

.heading3 {
  font-size: 12px;
}

.paragraph {
  font-size: 14px;
  font-weight: 400;
}

.text {
  font-size: 12px;
  font-weight: 400;
}

.sub-text {
  font-size: 10px;
  font-weight: 300;
}

.btn {
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.btn-blue {
  background-color: #0275b1;
  border: 1px solid #0275b1;
}

.btn-transparent {
  background-color: #fff;
  color: #0275b1;
  border: 1px solid #0275b1;
}

.btn-thick {
  padding: 8px 38px;
}

.btn-thin {
  padding: 8px 15px;
  width: 170px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-right: 1px solid #f4f4f4;
  height: 80px;
  margin: 0 20px;
  padding: 0 20px;
}

.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav__link-item {
  color: #181818;
  font-weight: bold;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 0 20px;
  cursor: pointer;
}

.user-loggedin {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  width: 330px;
  height: 80px;
  border-right: 1px solid #f4f4f4;
  margin-left: 20px;
}

.user-loggedin__img-user {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-loggedin__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-loggedin__content-profile {
  display: flex;
  flex-direction: row;
}

.user-loggedin__content-profile-person {
  color: #b1b1b1;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  margin-left: 10px;
}

.user-loggedin__content-profile-views {
  margin-right: 10px;
}

.user-loggedin__content-profile-number {
  color: #02b033;
  margin-left: 10px;
}

.menu-other {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  width: 90px;
  padding: 0 20px;
  border-right: 1px solid #f4f4f4;
}

.profile-card {
  max-width: 850px;
  height: 360px;
}

.profile-card__img {
  max-width: 850px;
  width: 100%;
}

.profile-card__img img {
  width: 100%;
}

.links-box {
  background-color: #fff;
  width: 290px;
  height: 306px;
  font-size: 12px;
  font-weight: 500;
}

.links-box__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid #f4f4f4;
  height: 52px;
  padding: 0 30px;
}

.links-box__item:hover {
  border-left: 10px solid #0275b1;
}

.links-box__item:active {
  color: #747474;
  border-left: 10px solid #0275b1;
}

.links-box__item span {
  font-size: 12px;
  font-weight: 700;
}

.links-box__item a {
  text-decoration: none;
  color: #181818;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 30px;
  flex: 1;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 80px;
  background-color: #fff;
  margin: 0 auto;
}

.header .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.header .wrapper .site-logo {
  padding: 0 40px;
  border-right: 1px solid #f4f4f4;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 8px;
}

.header .nav__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.footer {
  background-color: #fff;
  border-top: 1px solid #f4f4f4;
  padding: 30px 0;
  margin-top: 72px;
  line-height: 1.5rem;
}

.footer .container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

.footer .container .site-logo {
  margin-right: 70px;
}

.footer .container .footer-grid {
  display: grid;
  grid-template-columns: 6fr 2fr 4fr;
  grid-gap: 60px;
}

.footer .heading3 {
  margin-bottom: 30px;
}

.footer .footer-nav {
  text-align: left;
}

.footer .footer-nav .footer-nav-links {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

.footer .footer-nav .footer-nav-links ul {
  padding-right: 40px;
}

.footer .lang-select {
  width: 270px;
  height: 32px;
  border: none;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 700;
  border: 1px solid #f4f4f4;
  border-radius: 4px;
  padding: 0 10px;
}

.footer .lang-select__eng, .footer .lang-select__tr {
  padding-left: 10px;
  font-weight: 700;
  font-family: inherit;
  border: none;
}

.users {
  margin-top: 40px;
}

.users-grid {
  display: grid;
  grid-template-columns: 3fr 9fr;
  grid-gap: 40px;
}

.cover-full {
  width: 220vh;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0275b1;
  color: #cecece;
  z-index: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.cover-full__error {
  margin-right: 210px;
  padding: 40px;
  border: 25px solid #cecece;
  border-radius: 40px;
}

.cover-full__error-text {
  font-size: 100px;
  padding: 40px;
  border: 5px solid #cecece;
  border-radius: 20px;
}
