.user-loggedin {
  @include flexCenter(row, left, center);
  width: 330px;
  height: 80px;
  border-right: 1px solid $light-gray-color;
  margin-left: 20px;

  &__img-user {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 10px;
  }

  &__content {
    @include flexCenter(column, center, center);

    &-profile {
      display: flex;
      flex-direction: row;

      &-person {
        color: lighten($black-color, 60%);
        text-transform: uppercase;
        font-weight: 400;
        font-size: 12px;
        margin-left: 10px;
      }

      &-views {
        margin-right: 10px;
      }

      &-number {
        color: $green-color;
        margin-left: 10px;
      }
    }
  }
}
