@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');
// font-family: 'Raleway', sans-serif;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  background-color: $background-color;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input,
button {
  font-family: inherit;
  outline: none;
  border: none;
  box-sizing: inherit;
}

input:focus,
button:focus {
  outline: none;
}
