//*********** COLORS **************

$background-color: #f7f9fb;
$light-gray-color: #f4f4f4;
$dark-gray-color: #747474;
$gray-color: #cecece;
$black-color: #181818;
$white-color: #fff;
$green-color: #02b033;
$blue-color: #0275b1;

//*********** FONTS **************

$heading1: 18px;
$heading2: 14px;
$heading3: 12px;

$paragraph: 14px;
$text: 12px;
$sub-text: 10px;
